body {
  color: #ffdb88;
  background: #101322;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px; }
  body span {
    background: white;
    color: #101322;
    padding-left: 10px;
    padding-right: 10px; }
  body h1 {
    color: #ffdb88;
    margin-top: 10px;
    margin-bottom: 15px; }
  body h2 {
    color: #ffdb88;
    margin-top: 10px;
    margin-bottom: 10px; }
  body h3 {
    color: #ffdb88;
    margin-top: 10px;
    margin-bottom: 0px; }
  body h4 {
    color: #ffdb88;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left; }
  body p {
    color: #ffdb88;
    padding-right: 30px; }
  body ul {
    list-style-type: disc;
    text-align: left; }
  body a {
    text-decoration: underline; }
    body a:hover {
      color: #ffdb88; }
  body img {
    border-radius: 180px; }
